body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-xs: 12px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;

  /* Gaps */
  --gap-5xs: 8px;

  /* Paddings */
  --padding-55xl: 74px;
  --padding-74xl: 93px;
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-5xs: 8px;
}
